header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #131313;
  display: flex;
  justify-content: center;
}

.head-wrapper {
  display: flex;
  align-items: center;
  max-width: 1256px;
  width: 100%;
  
}

.head-wrapper > p,
a,
button {
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  margin: 1% 2%;
}

#project {
  color: #e3b873;
  margin-left: 5%;
}

.head-wrapper > #button {
  background-color: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  padding: 0.5%;
  border-radius: 2px;
  color: white;
  margin-left: 1.5%;
}
