body {
  margin: 0;
  font-family: "Nunito Sans";
}
body * {
  box-sizing: border-box;
}
.button {
  background-color: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
}
.logo {
  color: #e3b873;
}
.header {
  background-color: #131313;
}
.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}
.header-navigation {
  list-style: none;
  display: flex;
  align-items: center;
}
.phone {
  color: #e3b873;
}
.header-navigation__item {
  margin-right: 47px;
}
.header-navigation__item > a:hover {
  color: #e3b873;
}
.header-navigation__item > a {
  text-decoration: none;
  color: white;
}
.hero {
  background-image: url("../images/image_4.3.jpg");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}
.video {
  background-image: url("../images/image_6.png");
  background-size: cover;
  height: 500px;
  width: 700px;
  padding-top: 194px;
  position: relative;
}
.triangle-video {
  position: absolute;
  margin: 50px -80px;
}
.hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero-container {
  position: relative;
  z-index: 1;
}
/* @media only screen and (min-width: 769px){ */
.title {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;

  color: #ffffff;
}
/* } */
.intext {
  color: #e3b873;
}
.title-wrapper {
  max-width: 504px;
  margin-top: 50px;
}
.paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
}
.paragraph-2 {
  font-size: 14px;
  line-height: 21px;
}
.paragraph-3 {
  font-size: 18px;
  line-height: 37px;
  color: black;
}

.button-modified {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
}
.title-wrapper-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2vw;
}
@media only screen and (min-width: 769px) {
  .completed-projects {
    margin-top: 107px;
  }
}
.completed-projects-nav-desktop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  margin-top: 80px;
}
.mobile-nav-projects {
  display: none;
}
.projects {
  display: grid;
  background-color: #131313;
  padding-bottom: 380px;
}
.mobile-image {
  display: none;
}
.subtitle {
  font-size: 18px;
  line-height: 25px;
}
.title2 {
  font-size: 27px;
  line-height: 37px;
}

.image-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 85px 85px;
  grid-gap: 0vw;
}
.project-nav__item {
  margin-right: 78px;
  font-size: 14px;
  font-family: "Yeseva One";
}
.project-nav__item:hover {
  text-decoration: underline;
}
.online-control-paragraph-wrapper {
  max-width: 680px;
  margin: 98px auto;
}
@media only screen and (min-width: 769px) {
  .short-title {
    max-width: 70px;
    line-height: 37px;
  }
}
.info-desktop-position {
  margin-top: -340px;
}
.online-control {
  text-align: center;
  margin: -370px auto;
}
.title-20px {
  margin: 0 auto;
  font-size: 20px;
}
.control-logo {
  margin-bottom: 30px;
}
.title-18px {
  margin: 0 auto;
  font-size: 18px;
}
.online-control-img {
  width: 817px;
  height: 434px;
}
.footer {
  position: static;
}
@media only screen and (min-width: 769px) {
  .completed-projects {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
    grid-gap: 50px;
  }
}

.online-control-input-wrapper {
  display: grid;
  max-width: 817px;
  padding-right: 0;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: repeat(3, 200px);
  grid-auto-flow: column;
  column-gap: 100px;
  text-align: left;
  margin: 0 auto;
}
.input-title {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.text-input::placeholder {
  color: #131313;
  font-size: 14px;
}

.online-control-checkbox {
  padding-top: 25px;
}
.text-input {
  display: block;
  border: none;
  background-color: white;
  border-bottom: 1px solid #ccc;
  /* width: 100%; */
}

.online-control-input-wrapper > .title-wrapper-buttons {
  margin-top: -30px;
}
.types-of-repair {
  margin-top: 547px;
}
.title-black {
  color: #181818;
  font-weight: bold;
}
.types-of-repair-header {
  text-align: center;
}
.types-of-repair-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.types-of-repair-photo-1 {
  background-image: url("../images/image.jpg");
  height: 420px;
}
.types-of-repair-photo-2 {
  background-image: url("../images/image-2.jpg");
  height: 420px;
}
.types-of-repair-photo-3 {
  background-image: url("../images/image-3.jpg");
  height: 420px;
}
.types-of-repair-info-block {
  background-color: white;
  height: 286px;
  margin: -127px 30px;
  padding: 15px 0 0 34px;
}
.types-of-repaid-list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 30px;
  padding-inline-start: 17px;
}
.types-of-repaid-list > li {
  font-size: 13px;
  color: #959595;
}
.types-of-repair-buttons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 140px 30px 0;
  width: 228px;
}
.clients-buttons {
  margin-top: 30px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  max-width: 290px;
}
.icon-1 {
  background-color: #e3b873;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.button-info {
  font-size: 17px;
  font-family: "Yeseva One";
  color: white;
}
input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-label {
  margin-top: 85px;
  margin-left: -400px;
  line-height: 20px;
}
label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

label > input[type="checkbox"]:checked + *::before {
  border-style: solid;
  border-width: 1px;
  font-size: 24px;
  content: "✓";
  width: 18px;
  height: 18px;
  color: white;
  background: #e3b873;
  border-color: #e3b873;
  vertical-align: text-top;
}
.types-of-repair-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 250px;
  column-gap: 40px;
  margin-bottom: 300px;
}

.types-of-repair-tips {
  background-image: url("../images/image-6.1.png");
  height: 550px;
}
.types-of-repair-request {
  background-color: #131313;
  height: 550px;
}
.repair-input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  text-align: left;
  padding: 0 50px 20px;
}
.repair-input-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  margin-top: 40px;
}

.repair-text-input::placeholder {
  color: white;
  font-size: 14px;
}

.repair-text-input[placeholder]:focus {
  color: white;
}

.repair-text-input:focus {
  background-color: #131313;
}
.repair-text-input {
  display: block;
  border: none;
  background-color: #131313;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.repair-paragraph {
  font-size: 18px;
  margin: 28px 20% 0;
  text-align: center;
}
.repair-checkbox-label {
  margin-top: 17px;
}
.repair-title-wrapper {
  margin: 50px 0 0 50%;
}
.repair-title-wrapper > .button {
  padding: 13px 5px;
}
.repair-li-tips {
  margin-top: 25px;
  margin-bottom: 120px;
  line-height: 19px;
}
ol {
  counter-reset: item;
  margin: 0;
  padding-left: 120px;
}
ol > li {
  counter-increment: item;
  list-style: none inside;
  margin: 30px 0;
  overflow: hidden;
  font-size: 16px !important;
  line-height: 1.3;
}
ol > li:before {
  content: counter(item, decimal-leading-zero) " ";
  margin-right: 20px;
  padding: 8px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 22px;
  background: #e3b873;
  color: #fff;
  text-align: center;
  font: 20px "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100;
  float: left;
}
.fantasies {
  background-image: url("../images/image-5.1.png");
  background-size: cover;
  height: 864px;
  padding-top: 194px;
  position: relative;
}
.fantisies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.fantasies-title {
  line-height: 37px;
  font-size: 27px;
  margin-right: 30px;
}
.styles {
  margin-top: -100px;
}
.fantasies-images {
  margin-top: 38px;
}
.image-col-1 {
  margin-top: -265px;
}
.image-col-2 {
  margin-top: -324px;
}
ul {
  padding-inline-start: 0;
}
.fantasies-list-item {
  margin: 15px 0 0 0;
  list-style-type: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: white;
}
.fantasies-list-item:hover {
  color: #e3b873;
  text-decoration: underline;
}
.fantasies-mobile {
  display: none;
}
.clients {
  margin-top: 100px;
}
.clients-paragraph-wrapper {
  max-width: 476px;
  margin: 65px auto;
}
.clients-name {
  line-height: 22px;
  margin: auto 2%;
}
.clients-header {
  display: flex;
}
.client-image {
  border-radius: 50%;
}
.client-info {
  font-size: 13px;
  color: #959595;
}
.button-client {
  margin-top: -120px;
  margin-bottom: 120px;
}
.completed-projects-nav-items:hover{
  fill-opacity: 1;
}
@media only screen and (min-width: 769px) {
  .questions {
    position: relative;
    z-index: 1;
    padding: 0 2%;
  }
}
@media only screen and (min-width: 1600px) {
  .questions {
    position: relative;
    z-index: 1;
    padding: 0 10%;
  }
}
@media only screen and (min-width: 2000px) {
  .questions {
    position: relative;
    z-index: 1;
    padding: 0 15%;
  }
}
@media only screen and (min-width: 768px) {
  .questions-container {
    background-color: #131313;
    max-width: 840px;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
.questions-title {
  margin: 34px auto 0;
}
.question-button {
  margin: 20px auto;
}
.questions-input-desktop {
  display: flex;
  justify-content: space-between;
}
.questions-wrapper {
  margin-bottom: -200px;
}

.questions-checkbox-label {
  margin: 20px auto;
}
.map {
  padding: 200px 0;
  background-image: url("../images/image-map-bacground.jpg");
  background-size: cover;
  height: 850px;
  width: 100%;
  position: relative;
}
.map-title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin: 52px auto 20px;
  max-width: 590px;
}
.map-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 200px 0px;
  /* margin: 0 0; */
  justify-content: center;
}
.pig {
  margin-top: 15px;
}
.pig-text {
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  padding-top: 5%;
}
.pig-save {
  display: flex;
  text-align: left;
}

.map-icons {
  display: grid;
  grid-template-columns: repeat(2, 65px);
  align-content: center;
  margin: 0 auto 20px;
  max-width: 200px;
}
.video-movile-div {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
.button-repair {
  padding: 12px 15px;
  font-size: 18px;
  font-family: "Yeseva One";
  font-style: normal;
}
@media only screen and (min-width: 769px) {
  .mobile-video-svg {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .small-circle {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  nav > .header-navigation {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header-navigation > .button {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-family: "Yeseva One", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 768px) {
  .short-title {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 768px) {
  .header-content {
    height: 57px;
    align-items: center;
    font-size: 11px;
    line-height: 18px;
    max-width: 339px;
    justify-content: space-around;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .title-wrapper {
    max-width: 340px;
    margin: auto auto;
  }
}
@media only screen and (max-width: 768px) {
  .paragraph {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .paragraph-2 {
    font-size: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .paragraph-3 {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .completed-projects-info {
    text-align: center;
    margin: 36px auto;
  }
}
@media only screen and (max-width: 768px) {
  .image-info-wrapper {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-image {
    display: grid;
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .desktop-image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .images {
    display: flex;
    justify-content: center;
    margin: 70px auto 35px;
  }
}
@media only screen and (max-width: 768px) {
  .online-control-img {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .projects {
    display: grid;
    background-color: #131313;
    padding-bottom: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .online-control {
    margin-top: -730px;
  }
}
@media only screen and (max-width: 768px) {
  .online-control-paragraph-wrapper {
    max-width: 340px;
    margin: 51px auto;
  }
}
@media only screen and (max-width: 768px) {
  .margin-mobile {
    margin: 0px auto;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 340px;
  }
}
@media only screen and (max-width: 768px) {
  .online-control-input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .input-title {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .online-control-checkbox {
    padding-top: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .text-input {
    display: block;
    border: none;
    background-color: #131313;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .text-input::placeholder {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .text-input[placeholder]:focus {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .text-input:focus {
    background-color: #131313;
  }
}
@media only screen and (max-width: 768px) {
  .online-control-input-wrapper > .title-wrapper-buttons {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .checkbox-label {
    margin: 25px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .types-of-repair {
    margin-top: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .types-of-repair-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .title-18px {
    font-size: 15px;
    font-family: "Yeseva One";
    font-weight: bold;
  }
}
@media only screen and (max-width: 768px) {
  .types-of-repair-info-block {
    background-color: white;
    height: 286px;
    margin: -150px 15% 0 0;
    padding-left: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .types-of-repair-buttons {
    display: grid;
    grid-template-columns: 1fr;
    margin: -25px 30px 0;
    width: 152px;
  }
}
@media only screen and (max-width: 768px) {
  .button-repair {
    font-size: 13px;
    padding: 13px 2px;
  }
}
@media only screen and (max-width: 768px) {
  .types-of-repair-2 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .fantasies {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .fantasies-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -120px;
  }
}
@media only screen and (max-width: 768px) {
  .fantasies-title {
    text-align: center;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 768px) {
  .clients {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .questions {
    background-color: #131313;
    max-width: 883px;
    padding: 130px 0;
  }
}
@media only screen and (max-width: 768px) {
  .questions-title {
    margin: 34px auto 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .questions-input-desktop {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .label-input-question {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .questions-checkbox-label {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .question-button {
    margin: 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .map {
    background-image: none;
    background-color: #131313;
    height: 540px;
    position: relative;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .map > .hero-overlay {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .questions-wrapper {
    margin-bottom: -150px;
  }
}
@media only screen and (max-width: 768px) {
  .map-title {
    font-size: 18px;
    margin: 50px auto;
  }
}
@media only screen and (max-width: 768px) {
  .map-wrapper {
    flex-direction: column-reverse;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .map-img {
    margin-top: 50px;
    height: 220px;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .online-control-header > .title {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .video {
    height: 90px;
    width: 270px;
    padding-top: 194px;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .triangle-video {
    position: absolute;
    margin: -110px -4%;
  }
}
@media only screen and (max-width: 768px) {
  .hero-container > .circle {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .small-circle {
    position: absolute;
    margin: -140px -17%;
  }
}
@media only screen and (max-width: 768px) {
  .map-icons {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2, 65px);
    align-content: center;
    margin: 500px 33% 20px;
    max-width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .completed-projects-nav-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-nav-projects {
    display: flex;
    justify-content: space-between;
    margin: -130px 20px 130px;
  }
}
@media only screen and (max-width: 768px) {
  .video-mobile {
    display: grid;
  }
}
@media only screen and (max-width: 768px) {
  .video-movile-div {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .desktop-video-svg {
    display: none;
  }
}
